.button {
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}

.button1 {
    -fx-background-radius: 10;
    -fx-background-color: #8FB9AA;
    -fx-font-size: 15;
    -fx-font-family: "Roboto Light";
}

.button:pressed {
    -fx-effect: dropshadow(two-pass-box, #444444, 20,0,0,0);
}

.text-field {
    -fx-background-radius: 10;
    -fx-font-size: 10;
    -fx-font-family: "Roboto Light";
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent ;
}

.text {
    -fx-font-size: 15;
    -fx-font-family: "Roboto Light";
    -fx-fill: #1f1f1f;
}

.check-box .box {
    -fx-background-radius: 10;
}