.info {
    -fx-border-radius: 25;
}

.button_consulta {
    -fx-background-radius: 10;
    -fx-background-color: #8FB9AA;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}

.button_pagamento {
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}

.button:pressed {
    -fx-effect: dropshadow(two-pass-box, #444444, 20,0,0,0);
}