.info {
    -fx-border-radius: 25;
}

.button_consulta {
    -fx-background-radius: 10;
    -fx-background-color: #8FB9AA;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}

.button_pagamento {
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 30;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}

.button:pressed {
    -fx-effect: dropshadow(two-pass-box, #444444, 20,0,0,0);
}

.list-view .list-cell:focused {
    -fx-background-color: #8FB9AA;
    -fx-background-radius: 25;
}

.list-view .list-cell:selected {
    -fx-background-color: #8FB9AA;
    -fx-background-radius: 25;
}

.table-view {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #8FB9AA;
}

.table-row-cell:filled:selected:focused {
    -fx-background-color: #8FB9AA;
}