.button {
    -fx-background-color: #f4f4f4;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
    -fx-background-radius: 0;
}

.button:focused {
    -fx-background-color: #d9d9d9;
}

.clock {
    -fx-background-color: #8fb9aa;
    -fx-font-size: 20;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #444444;
}
